doctype html
html.no-js
  include /partials/head.jade

  body
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            block content

    footer.PageFooter(role='contentinfo')
      .Section
        p Footer

    block footscripts
