extends /layouts/default.jade

block content
  main.Section.with-center-alignment.with-vertical-padding(role='main')
    h1(style="font-size:60px;line-height:1") That page couldn't be found.
    h1(style="font-size:120px;line-height:1;") :(
